// Mixins Here
.btn(@border-radius, @background-color) {
   padding-top: 20px;
   padding-bottom: 20px;
    border-radius: @border-radius; // 10px;
    background-color:@background-color; // teal;
    color: white;
    text-align: center;
    font-size: 20px;
   }