// Mixins Here
.btn(@border-radius, @background-color) {
    padding: 10px 40px;
    border-radius: @border-radius; // 10px;
    background-color:@background-color; // teal;
    color: white;
    cursor: pointer;
   }